name: Semantic Release

on:
  workflow_dispatch:
  pull_request:
    types: [closed]
    branches:
      - master

jobs:
  release:
    if: github.event_name == 'workflow_dispatch' || github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    concurrency:
      group: release
      cancel-in-progress: true
    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Python Semantic Release
        # Adjust tag with desired version if applicable. Version shorthand
        # is NOT available, e.g. vX or vX.X will not work.
        uses: python-semantic-release/python-semantic-release@v10.5.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          changelog: true

      - name: Keep only last 20 tags
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git fetch --tags

          # 获取所有标签，按时间倒序排列
          # tail -n +21 意思是：从第21行开始输出（即跳过前20个最新的）
          tags_to_delete=$(git for-each-ref --sort=-taggerdate --format '%(refname:short)' refs/tags | tail -n +21)

          for tag in $tags_to_delete; do
            echo "Deleting old tag: $tag"
            # 加上 || true 防止某个标签删除失败导致整个流程中断
            git push origin --delete $tag || true
            git tag -d $tag || true
          done

      - name: Delete Draft Releases
        uses: hugo19941994/delete-draft-releases@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
